

/* --------------------navbar------------------- */

#navbar-brand {
  font-family: "lobster";
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  padding-left: 80px;
  text-decoration: none;
}

.Foodieland-img-top {
  margin-left: 135px;
}

.nav-item {
  position: relative;
  padding: 0 18px;
  font-family: Inter;
  font-weight: 500;
}

.navbar-nav {
  margin-left: 200px;
}

.nav-item .nav-link {
  font-family: "Inter";
  font-size: 16px;
  padding: 40px;
  color: black;
}

.icon-fb {
  padding-left: 110px;
  font-size: 1.5rem;
}

.icon-twt {
  padding-left: 70px;
  font-size: 1.5rem;
}

.icon-insta {
  padding-left: 70px;
  font-size: 1.5rem;
}

/* ------------top page---------- */

#featured {
  margin: 40px 80px;
}

.Badge {
  position: absolute;
}

.circle-logo {
  z-index: 1;
}

.f-logo {
  padding: 0 10px;
}

.heading {
  padding-left: 30px;
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
  text-align: left;
}

.paragraph {
  padding: 0 30px 30px;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.text-col {
  background: #E7FAFE;
  border-radius: 30px 0 0 30px;
  padding-right: 340px;
}

.image-col {
  border-radius: 0px 0px 0px 0px;
  padding: 0;
}

.view {
  margin: 50px 0 30px 30px;
  width: 156px;
  height: 45px;
  background: #fff;
  border-radius: 30px;
  padding: 0 13px;
  border: none;
}

.B1 {
  border: none;
  height: 40px;
  width: 139px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-right: 16px;
  margin-bottom: 60px;
}

.btn-2 {
  height: 60px;
  width: 180px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
  padding: 0 0 0 12px;
  display: inline-block;
  margin: 0px 0px 0 0;
}

.button-1 {
  float: right;
  margin: 15px 15px 0 0;
}

.john-image {
  margin: 20px 0 0 30px;
  width: 50px;
  height: 50px;
}

.chef-name{
  font-family: "inter";
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 0 15px;
  padding: 0;
  display: inline-block;
}

.date {
  padding: 5px 0 0 4px;
  height: 25px;
  width: 120px;
  font-size: 15px;
  position: absolute;
}

.john {
  width: 300px;
  height: 100px;
  display: inline-block;
}

#container h3 {
  font-family: "inter";
  font-size: 40px;
  font-weight: 600;
  margin-left: 130px;
  margin-top: 60px;
}

#container {
  display: flex;
}

#container button {
margin-left: 760px;
width: 200px;
height: 60px;
font-weight: 600;
background-color: #E7FAFE;
font-size: 16px;
border-radius: 15px;
margin-top: 50px;
border: none;
}

#menu {
  display: flex;
}

#menu .breakfast {
  text-align:center;
  border-radius: 25px;
  margin: 70px 0 0 130px;
  height: 200px;
  width: 160px;
  background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}

#menu .vegan {
  text-align:center;
  border-radius: 25px;
  margin-top: 70px;
  margin-left: 45px;
  height: 200px;
  width: 160px;
  background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
}

#menu .meat {
  text-align:center;
  border-radius: 25px;
  margin-top: 70px;
  margin-left: 45px;
  height: 200px;
  width: 160px;
  background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}

#menu .dessert {
  text-align:center;
  border-radius: 25px;
  margin-top: 70px;
  margin-left: 45px;
  height: 200px;
  width: 160px;
  background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}

#menu .lunch {
  text-align:center;
  border-radius: 25px;
  margin-top: 70px;
  margin-left: 45px;
  height: 200px;
  width: 160px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

#menu .chocolate {
  text-align:center;
  border-radius: 25px;
  margin-top: 70px;
  margin-left: 45px;
  height: 200px;
  width: 160px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

#menu h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 30px;
  letter-spacing: -0.02em;
}

/* -----food-blog---- */

.middle {
  text-align: center;
  font-family: "Inter";
  font-size: 48px;
  padding-top: 150px;
  font-weight: 600;
  letter-spacing: -0.04em;
}

p {
  text-align: center;
  padding-top: 25px;
  color: #00000099;
  padding-bottom: 80px;
}


.zzzz {
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
  border-radius: 30px;
  height: 390px;
  padding-left: 18px;
  margin-bottom: 50px;
}

.ht-btn-2 {
  position: absolute;
  margin: 15px 0 0 90px;
  border-radius: 100px;
  height: 48px;
  width: 48px;
  border: none;
}

.ht-btn-2 .fa-heart {
  color: #FF6363;
}

h4 {
  padding: 30px 0 0 5px;
  padding-bottom: 10px;
  font-size: 24px;
}

.B2 {
  border: none;
  height: 40px;
  width: 120px;
  background: transparent;
  padding-left: 0;
}

.blank {
  height: 390px;
  background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
}

.sp {
  font-family: "lobster";
  color: white;
  text-align: center;
  padding: 40px 50px;
}

.spp {
color: rgba(255, 255, 255, 0.6);
padding-top: 190px;
}

/* __________qoute_______ */

.text-1 {
  text-align: left;
  margin-left: 80px;
  padding-top: 250px;
}

h1 {
  font-family: "inter";
  font-size: 600;
  font-size: 18px;
  letter-spacing: -4%;
  width: 520px;
}

.quote {
  text-align: left;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 0;
  width: 520px;
}

.chef {
  padding-top: 90px;
}

.recipe-btn {
  height: 60px;
  width: 180px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
}

/* __________socials________ */

#social-head {
  text-align: center;
  padding-top: 190px;
}

#social-head h2 {
  font-family: "inter";
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -0.04em;
}

#social-head p {
  font-weight: 400;
  font-size: 16.5px;
  line-height: 28px;
}

.row {
  padding: 0 70px;
}

.social-btn {
  height: 55px;
  width: 230px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
  margin: 70px 0 70px 0;
}

.container-3 {
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}

/* ________try-section_______ */

#semi-footer {
  display: flex;
  margin-bottom: 70px;
}

#semi-footer h2 {
  padding: 0 0 0 80px;
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -5%;
  padding-top: 80px;
}

#semi-footer p {
  text-align: left;
  padding: 0 80px 0 100px;
  padding-top: 120px;
  line-height: 28px;
}

.dish h3 {
  font-family: "inter";
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -4%;
  padding: 20px 20px 0 0;
}

.b-3 {
  border: none;
  background: transparent;
  text-align: left;
  margin: 10px 0 40px;
  padding: 0;
}

.items {
  padding-left: 100px;
}

.d9 {
  border-radius: 15px;
}


/* ________subscribe________ */

.subscribe {
  height: 460px;
  width: 1310px;
  background: #E7F9FD;
  margin: 80px 0 0 135px;
  text-align: center;
  border-radius: 60px;
}

.subscribe h2 {
  font-family: "inter";
  font-weight: 600;
  font-size: 48px;
  letter-spacing: -4%;
  padding-top: 70px;
}

.subscribe p {
  margin: 0 350px;
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  padding-bottom: 0 0 20px 0;
}

.buttonIn {
  width: 400px;
  height: 80px;
  position: relative;
  display: flex;
  margin: 80px 0 50px 390px;
}

input {
 margin: 0px;
 padding: 0px;
 width: 100%;
 border: none;
 height: 80px;
 border-radius: 25px;
}

.subscribe-btn {
 font-family: "inter";
 font-weight: 600;
 font-size: 12px;
 position: absolute;
 border-radius: 16px;
 right: 10px;
 margin-top: 10px;
 height: 60px;
 width: 160px;
 cursor: pointer;
 color: white;
 background-color: #000;
}

::placeholder {
  padding-left: 30px;
}


.btm-brand {
  font-family: "lobster";
  font-weight: 400;
  font-size: 24px;
  margin: 150px 0 0 100px;
}

.btm-text {
  margin-left: 80px;
  text-align: left;
}

.btm-ul {
  list-style-type: none;
  padding-top: 180px;
  margin-left: 180px;
}

.btm-link {
  position:relative;
  display: inline;
  padding-left: 50px;
  font-weight: 500;
  font-size: 16px;
}

.btm-link a {
  color: black;
  text-decoration: none;
}

.footer-vector {
  margin-bottom: 60px;
}

footer {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  margin-left:360px;
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
}

.webflow {
  color: #FF7426;
  font-weight: 400;
}

.icon-fb-2 {
  margin-left: 80px;
  display: inline-block;
  font-size: 1.5rem;
}

.icon-twt-2 {
    margin-left: 40px;
    padding-right: px;
    font-size: 1.5rem;
}

.icon-insta-2 {
  margin-left: 40px;
  padding-right: 20px;
 font-size: 1.5rem;
}


/* ___________________Recipe.html___________________ */


#head-rc .heading {
  padding: 50px 0 0 80px;
  font-family: "Inter";
  font-size: 58px;
  font-weight: 600;
  line-height: 77px;
  text-align: left;
}

.r-div-1 {
  margin: 50px 0 0 80px;
}

.r-div-2 {
  margin-top: 50px;
}

.r-div-image{
  display: inline-block;
}

.r-div-1-text {
  display: inline-block;
  padding-left: 15px;
  text-align: left;
}

.blog-text-2 {
  padding: 0;
  font-family: "inter";
  font-weight: 700;
  color: #000;
  margin-bottom: 8px;
}

.blog-text-4 {
  padding: 0;
  font-family: "inter";
  font-weight: 500;
  font-size: 15px;
  color: #000;
  margin-bottom: 8px;
}

.blog-text-3 {
  padding: 0;
}

.r-div-image {
  margin-bottom: 30px;
}

.r-vector-1 {
  height: 50px !important;
  border: 1px solid;
  margin: 50px 30px 0 30px;
}

.r-btn {
  margin-left: 300px;
}

.r-b1 {
  display: inline-block;
}

.r-b2 {
  display: inline-block;
  padding-left: 30px;
}

.print-btn {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background: #E7FAFE;
  border: none;
}

.share-btn {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background: #E7FAFE;
  border: none;
}

.r-video {
}

.r-video-img {
  width: 900px;
  height: 615px;
}

.video-in {
  width: 400px;
  height: 620px;
  background: #E7FAFE;
  margin-left: 620px;
  border-radius: 30px;
  padding: 0;
}

.in-head {
  font-family: "inter";
  font-weight: 600;
  font-size: 24px;
  padding: 32px 0 20px 25px;
}

.in-p {
  padding: 0 0 0 25px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.video-qty {
  padding: 0 20px 0 0;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  float: right;
}

.in-vector {
  width: 90%;
  margin-left: 22px;
}

.in-descrip {
  padding: 150px 30px 0;
}

.open-p {
  padding: 60px 80px;
  text-align: left;
}

.ing-head {
  font-family: "Inter";
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.04em;
}

.main-dish {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.04em;
  text-align: left;
  margin: 50px 0 40px;
}

.chk-btn-p {
  display: inline-block;
  padding: 0 0 30px 20px;
  margin: 0;
  font-size: 18px;
  color: #000;
  color: rgba(0, 0, 0, 0.6);
  opacity: 0.2;
  text-decoration: line-through;
}

.btn-p {
  display: inline-block;
  padding: 33px 0 33px 20px;
  margin: 0;
  font-size: 18px;
  color: #000;
}

.ing-vector {
  padding: 0;
  margin: 0;
  width: 95%;
}

.rcp-head {
  padding-bottom: 30px;
}

.rcp-img {
  height: 135px;
  width: 190px;
  border-radius: 20px;
}

.rcp-p {
  font-weight: 600;
  font-size: 20px;
  color: #000;
  text-align: left;
  padding-left: 20px;
  margin-right: 40px;
}

.chef-name-2 {
  position: absolute;
  margin: 120px 0 0 210px;
  padding-top: 0;
  font-weight: 500;
  font-size: 14px;
}

.uncheck-btn-no {
  position: absolute;
  padding: 33px 0 0 80px;
}

.stes-no {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: -4%;
  padding: 30px 0 20px 125px;
}

.ing-vector-no {
  margin-left: 80px;
  width: 55%;
}

.steps-det {
  text-align: left;
  padding: 0 0 0 125px;
}

.extra-recipe {
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  letter-spacing: -4%;
  margin-top: 150px;
}

.heart-btn {
  position: absolute;
  margin: 15px 0 0 225px;
  border-radius: 100px;
  height: 48px;
  width: 48px;
  border: none;
}

.heart-btn .dislike-btnn {
  color: #DBE2E5;
}

.fa-heart {
  color: #FF6363;
}

.recipe-row {
  margin-top: 90px;
}

.btm-brand-rcp {
  font-family: "lobster";
  font-weight: 400;
  font-size: 24px;
  margin: 150px 0 0 40px;
}

.btm-text-rcp {
  margin: 0 0 45px 40px;
  padding: 25px 0 0;
  text-align: left;
}

.blank-rcp {
  height: 420px;
  width: 420px;
  background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
  position: absolute;
  margin: 200px 100px 0 0 ;
}

.dish-rcp {
  margin: 0 0 0 19px;
}

.sp {
  font-family: "lobster";
  color: white;
  text-align: center;
  padding: 40px 100px 0;
}

.spp-rcp {
color: rgba(255, 255, 255, 0.6);
padding-top: 0px;
}

.sub-img-rc {
  float: left;
  position: absolute;
  height: 253px;
  margin: 0 0 40px 0;
  border-radius: 60px;
  height: 215px;
  width: 350px;
}

.sub-img-rc-2 {
  position: absolute;
  margin: 0 0 0px 0px;
  border-radius: 0 0 60px 0;
  margin-left: 850px;
  height: 220px;
  width: 300px;
}

.btm-ul {
  padding-left: 0;
}

.Foodieland-img-rc {
  margin: 150px 0 0 40px;
}

.Foodieland-img-home {
  margin: 150px 0 0 80px;
}

.like-btn {
  position: absolute;
  padding: 10px 0 0 260px;
}

/* ___________________blog.html__________________ */


.blog-head {
  font-family: "inter";
  font-weight: 600;
  font-size: 61px;
  text-align: center;
  padding: 80px 0 0 10px;
  letter-spacing: -4%;
}

.blog-p {
  font-family: "inter";
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.buttonIn-blog {
  width: 700px;
  height: 80px;
  margin: 80px 0 50px 400px;
  border: 1px solid #0000001A;
  border-radius: 24px;
}

.input-blog {
 margin: 0px;
 padding: 0px;
 width: 100%;
 height: 80px;
 border-radius: 25px;
 border: 1px solid rgba(0, 0, 0, 0.1);
}

.subscribe-btn-blog {
 font-family: "inter";
 font-weight: 600;
 font-size: 12px;
 position: absolute;
 border-radius: 16px;
 right: 10px;
 margin-top: 10px;
 height: 60px;
 width: 160px;
 cursor: pointer;
 color: white;
 background-color: #000;
 margin-right: 290px;
}

.dish-blog {
  display: flex;
}

.dish-blog-img {
  position: relative;
  width: 290px;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.dish-blog-h {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  padding: 15px 0 0 40px;
  margin: 0;
}

.dish-blog-p {
  padding: 15px 50px 0 40px;
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.writer-img {
  padding: 15px 15px 0 40px;
}

.blog-name {
  position: absolute;
  font-family: "inter";
  margin-top: 26px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}

.b-vector-2 {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 40px !important;
  border: 1px solid;
  margin: 15px 0px 0px 0;
}

.blog-date {
  display: inline-block;
  position: absolute;
  margin-left: 137px;
  padding-top: 22px;
}

.tabs {
  text-align: center;
  margin-top: 70px;
  padding-bottom: 100px;
}

.tab-btn {
  height: 46px;
  width: 46px;
  border-radius: 13px;
  transition-duration: 0.4s;
  background: #000;
  color: #fff;
  margin-right: 15px;
}

.tab-btn:hover {
  background-color: #fff;
  color: #000;
}

.tab-btn-w {
  height: 46px;
  width: 46px;
  border-radius: 13px;
  transition-duration: 0.4s;
  background: #fff;
  color: #000;
  margin-right: 15px;
  border: 1px solid #0000001A
}

.tab-btn-w:hover {
  background-color: #000;
  color: #fff;
}

.blog-post-n {
  padding: 30px 0 40px 0;
  margin-left: 520px;
  width: 200px;
}

.kitchen-bg {
  margin: 50px 0 50px 120px;
  border-radius: 30px;
  width: 1200px;
}

.steps-des {
  text-align: left;
  padding: 0 0 0 125px;
}

.statement {
  width: 920px;
  height: 224px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  border: 1px solid #0000001A;
  padding: 48px 40px;
  margin: 0 0 50px 80px;
}

.stat {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-size: 36px;
  line-height: 64px;
letter-spacing: -0.04em;
}

/* _________________contact.html_________________ */

.thumb {
  margin: 72px 40px 0 110px;
  background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}

.input-dt {
  display: inline-block;
  position: absolute;
  margin-top: 80px;
}

.input-box {
  width: 370px;
  height: 60px;
  font-weight: 500;
  border: 1px solid #0000001A;
  border-radius: 16px;
}

.input-box1 {
  width: 370px;
  height: 60px;
  font-weight: 500;
  border: 1px solid #0000001A;
  border-radius: 16px;
  padding: 0 18px 0 18px;
}

.input-box2 {
  width: 780px;
  height: 200px;
  font-weight: 500;
  border: 1px solid #0000001A;
  border-radius: 16px;
  padding: 15px 18px 0 0px;
}

.lbl {
  margin-bottom: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
}

::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 18px;
}

.user-details-1 {
  margin: 0px 0 0 10px;
  width: 400px;
  height: 70px;
}

.user-details-2 {
  margin: 0px 0 0 10px;
  width: 400px;
  height: 70px;
}

.user-details-3 {
  margin: 115px 0 0 10px;
  width: 400px;
  height: 70px;
}

.user-details-4 {
  margin: 115px 0 0 10px;
  width: 400px;
  height: 70px;
}

.user-details-5 {
  position: absolute;
  margin: 230px 0 0 10px;
  width: 400px;
  height: 70px;
}

.advt {
  padding: 0 18px 0 18px;
}

.aaaa {
  display: flex;
  position: absolute;
  height: 300px;
}

.bbbb {
  display: flex;
  position: absolute;
  height: 300px;
}

.button-2 {
  margin-left: 0px;
  padding: 50px 0 0 510px;
  position: absolute;
}

.btn-3 {
  padding-left: 0;
  height: 64px;
  width: 180px;
  background-color: #000;
  color: #fff;
  border-radius: 16px;
}

.button-6 {
  margin-left: 0px;
  padding: 50px 0 0 0;
  position: absolute;
}

.input-box-2 ::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  letter-spacing: -0.02em;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 1px;
}


















.
